body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-container {
    color: white;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}


.links {
    display: flex;
    justify-content: flex-end;
}

.logo {
    font-size: 1.2rem;
}

.signup {
    font-size: 1.2rem;
}

.login {
    margin-left: 20px;
    font-size: 1.2rem;
}

.menu-container {
    color:#5995DA;
    background-color: #D6E9FE;
    display: flex;
}

.menu-item{
    height: 50px;
    flex: 1;
    text-align: center;
    margin-top: 25px;
    font-size: 1.2rem;
}

.layout-container {
    color:#5995DA;
    display: flex;
    margin: 8px;
}

.layout-item{
    height: 50px;
    flex: 1;
    text-align: center;
    margin-top: 25px;
    font-size: 1.2rem;
}

.menu {
    flex: 0.5;
}

.table {
    width: 100%;
    background-color: #559999;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    padding: 8px;
}

.table > tbody {
  text-align: center;
  color: black;
}

.veg {
    background-color: #96f4f7;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.nonveg {
    background-color: #96f4f7;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 20px;
}
.desserts {
    background-color: #96f4f7;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.item-veg {
    background-color: #90ee90;
    border-radius: 15px;
}

.item-veg:hover {
    background-color: green;
}

.item-nonveg {
    background-color: #fa8072;
    border-radius: 15px;
}

.item-nonveg:hover {
    background-color: rgb(223, 60, 60);
}

.item-dessert {
    background-color: rgb(250, 230, 50);
    border-radius: 15px;
}

.item-dessert:hover {
    background-color: rgb(250, 230, 50);
}
